/Crowd_communication/Release
/Crowd_communication/x64
/Crowd_communication/Debug
/M_Broadcast/x64
/M_Broadcast/Debug
/M_Broadcast/Release
/C_Dcl/x64
/C_Std/x64
/CCL_1/x64
/O_External/x64
/ExternalModel_C++/x64
/ExternalModel_C++/*.aps
/.vs
/C_Dcl/Debug
